
<nav class="" :class="getNavbarClassByPosition">
  <ul class="nav" :class="getNavClassByPosition">
    <li v-el="li" class="nav-item" :id="$index" v-for="item in meta.items">
      <a v-link="{path: item.url}" class="box" :class="getNavItemClassByPosition" @click="toggleSubItems($index, item)">
        <i class="box-mask fa fa-2x fa-fw" :class="item.icon"></i>
        <span class="box-title" v-html="item.title"></span>
        <i class="box-mask fa fa-lg fa-fw"
           :class="{'fa-angle-double-right': item.subItems && item.subItems.length,
            'fa-angle-double-down': item.subItems && item.subItems.length && item.isOpen}"></i>
      </a>
      <ul class="nav nav-inline" v-show="item.isOpen">
        <li class="nav-item" :id="$index" v-for="subItem in item.subItems">
          <a v-link="{path: subItem.url}" class="box box-horizontal box-no-padding">
            <i class="box-mask fa fa-1x fa-fw" :class="subItem.icon"></i>
            <span class="box-title" v-html="subItem.title"></span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>

<!--<ul class="nav nav-tabs">-->
  <!--<li><a href="#">xxxxxx</a></li>-->
  <!--<li><a href="#">xxxxxx</a></li>-->
  <!--<li><a href="">xxxxxxx</a></li>-->
  <!--<li><a href="">xxxxxxxxx</a></li>-->
  <!--<li><a href="">xxxxx</a></li>-->
<!--</ul>-->
<!--<ul class="nav nav-tabs">-->
  <!--<li class="nav-item active">-->
    <!--<a href="" class="box">-->
      <!--<i class="fa fa-home fa-2x fa-fw box-mask"></i>-->
      <!--<span class="box-content">主页</span>-->
    <!--</a>-->
  <!--</li>-->
  <!--<li class="nav-item">-->
    <!--<a href="" class="box">-->
      <!--<i class="fa fa-cog fa-2x fa-fw box-mask"></i>-->
      <!--<span class="box-content">设置</span>-->
    <!--</a>-->
  <!--</li>-->
  <!--<li class="nav-item">-->
    <!--<a href="" class="box">-->
      <!--<i class="fa fa-pencil fa-2x fa-fw box-mask"></i>-->
      <!--<span class="box-content">测量</span>-->
    <!--</a>-->
  <!--</li>-->
  <!--<li class="nav-item">-->
    <!--<a href="" class="box">-->
      <!--<i class="fa fa-book fa-2x fa-fw box-mask"></i>-->
      <!--<span class="box-content">书籍</span>-->
    <!--</a>-->
  <!--</li>-->
<!--</ul>-->



