
<div class="card {{ getThemeByState }}">
  <div class="card-header">
    <i class="card-mask fa {{ getIconByState }}"></i>
    <span class="card-title">{{ meta.FireDoorName }}</span>
    <span class="card-subtitle text-muted" v-html="getPropertyName"></span>
    <span class="label label-vertical label-hover pull-right {{ getStateColorByState }}" @click="onFireCardClick">{{getStateName}}</span>
    <!--<span v-if="showMessageByState" class="card-state card-state-hover pull-right {{ getStateColorByState }}" v-html="getStateName"></span>-->
  </div>
  <div v-if="!showMessageByState" class="card-body card-body-transparent" style="height: 100px;">
    <div class="label-group label-group-sm">
      <template v-for="TJGZStatus in getStates">
        <span class="label label-pill {{ getStatesColor }}" :style="getStatesStyle(state)">{{TJGZStatus}}</span>
      </template>
    </div>
  </div>
  <div class="card-footer">
    <i class="card-icon fa fa-map-marker"></i>
    <span class="card-title text-muted">{{ meta.FireDoorAddress }}</span>
  </div>
</div>
