
// custom box scss.

.box{
  display:inline-block;
  padding: $cm-space-width / 2 $cm-space-width;
  width: 100%;
  color: lighten($cm-black, 15%);

  // reset a:link style
  &:link{
    text-decoration: none;
  }

  &:hover,
  &.active{
    color: $cm-black;
    background-color: darken($cm-white, 2%);
    text-decoration: none;

    @include text-shadow-variant(0 1px $cm-white);
  }

  &.box-horizontal{
    padding: $cm-space-width $cm-space-width / 2;

    .box-mask, .box-title{
      display:inline-block;
      vertical-align: middle;
    }
  }

  // box size
  &.box-xs{

  }

  // box theme
  &.box-default{

  }

  &.box-no-padding{
    padding: $cm-space-width / 2;
    width: 100%;
  }

  .box-mask, .box-title{
    display:block;
    height:50%;
    margin:0 auto;
    text-align: center;
  }
}


// themes.

.box-right-dot{
  position: relative;

  .box-title{
    &::before{
      position: absolute;
      content: "";
      top: 45%;
      right: -5px;
      background-color: $cm-gray;
      width: 5px;
      height: 5px;

      @include border-radius(50%);
    }
  }
}

.box-maroon{
  color: lighten($cm-black, 30%);

  &:hover,
  &.active{
    color: $cm-maroon;
    background-color: darken($cm-white, 2%);
    text-decoration: none;

    @include text-shadow-variant(0 1px $cm-white);
  }

}

.box-purple{
  position: relative;
  color: lighten($cm-black, 30%);

  //@include border-variant(left, 3px solid $cm-white);

  &:hover,
  &.active{
    color: $cm-purple;
    background-color: darken($cm-white, 2%);
    text-decoration: none;

    //@include border-variant(left, 3px solid $cm-purple);
    @include text-shadow-variant(0 1px $cm-white);

    .box-mask:first-child{
      &::before{
        color: $cm-white;
        background-color: $cm-purple;
      }
    }
  }

  .box-mask:first-child{
    &::before{
      position: absolute;
      top: 0;
      left: 0;
      width: 46px;
      height: 46px;
      padding: $cm-space-width / 2;
    }
  }

  .box-title{
    letter-spacing: 3px;
    padding-left: $cm-space-width / 2;
  }

}

.box-thermometer{

  .box-mask{
    width: 50px;
    height: 50px;

    @include box-shadow(0 0 1px 1px $cm-gray);
    @include border-radius(50%);
  }

  .box-title{
    margin-left: -$cm-space-width;
    padding: $cm-space-width / 2 $cm-space-width;

    @include text-truncate();
  }
}
