
// custom card component scss.

// reset .card-header  / .card-footer
.card-header,
.card-body,
.card-footer{
  background-color: transparent;
  padding: $cm-space-width;

  @include clearfix();
}

// reset .card-footer
.card-header {
  & + .card-footer {
    @include border-variant('top', none);
  }
}

// add .card-body inner .card
.card-body{
  position: relative;
  padding: $cm-space-width;
  background-color: $card-cap-bg;

  &.card-body-transparent {
    background-color: transparent;
  }

  & + .card-body {
    border-top: 1px solid $card-border-color;
  }

  .card-body-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(lighten($cm-black, 0.5), 0.9);
    z-index: $cm-zindex-modal;

    .card-body-modal-search{
      float: left;
      background-color: $cm-white;

      @include clearfix();
    }

    .card-body-modal-config{
      float: right;
      background-color: $cm-white;

      @include clearfix();
    }
  }
}

// add .card-body-divider
.card-body-divider {
  position: relative;

  @include clearfix();

  .card-body-title {
    margin-left: 15px;
    color: $cm-black;
    font-size: .8em;
    font-weight: bold;

    @include xy-divider-variant(vertical, $cm-black, 10px);

    // .card-body-title-*(theme)
    &.card-body-title-success {
      color: $cm-success;

      @include xy-divider-variant(vertical, $cm-success, 10px);
    }

    &.card-body-title-danger {
      color: $cm-danger;

      @include xy-divider-variant(vertical, $cm-danger, 10px);
    }
  }
}

// add .card-mask inner .card / .card-header / .card-footer
.card-header,
.card-footer{
  position: relative;

  > .card-mask:first-child {
    &::before {
      left: 0;
    }
  }

  > .card-mask:last-child {
    &::before {
      right: 0;
    }

    &:hover,
    &.active{
      &::before {
        cursor: pointer;
        background-color: darken($cm-success, 10%);
      }
    }
  }

  > .card-mask {
    width: $cm-space-width * 2;

    &::before {
      position: absolute;
      top: 25%;
      bottom: 25%;
      padding: 5px;
      color: $cm-white;
      background-color: $cm-black;
    }

    &.card-mask-success {
      &::before {
        background-color: $cm-success;
      }
    }
    &.card-mask-danger {
      &::before {
        background-color: $cm-danger;
      }
    }
  }
}

// add .card-search-group inner .card / .card-header / .card-footer
.card-header {
  position: relative;

  .card-search-group {
    display: inline-block;
    vertical-align: middle;
    margin: 0 $cm-space-width * 4;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 25%;
      bottom: 25%;
      margin-left: - $cm-space-width * 2;
      width: 1px;

      @include gradient-vertical-three-colors(#fff, $cm-primary, 50%, #fff)
    }
  }
}

// add .card-mask inner .card-search-group
.card-search-group {
  display: inline-block;

  > .card-mask {
    width: $cm-space-width;
    margin-right: $cm-space-width * 2;

    &::before {
      position: absolute;
      top: 25%;
      bottom: 25%;
      padding: 5px;
      color: $cm-white;
      background-color: $cm-primary;
    }

    &:hover,
    &.active{
      &::before {
        cursor: pointer;
        background-color: darken($cm-purple, 10%);
      }
    }
  }
}

// add .card-search inner .card-search-group
.card-search {
  padding: 0 $cm-space-width / 2;
  color: $cm-black;
  background-color: $cm-gray;

  @include border-variant(all, 1px solid $cm-gray);

  &:hover,
  &.active{
    cursor: pointer;
    color: $cm-white;
    background-color: $cm-primary;

  }

  & + .card-search {
    margin-right: $cm-space-width;
  }

}

// add .card-pagination inner .card-footer
.card-footer {
  position: relative;

  .card-pagination {
    position: absolute;
    display: inline-block;
    right: 0;
    margin-top: -5px;

    // reset .pagination component.
    .pagination .page-item {

      &:last-child {
        .page-link {
          @include border-right-radius(0);

          &:last-child {
            @include border-variant(right, none);
          }
        }
      }
    }
  }
}

// reset card theme.
.card-blockquote {
  //background-color: #fff;
}

// reset .card-subtitle
.card-subtitle{
  line-height: 1.0;
  font-size: .9em;
  font-style: italic;
}

// add .card-icon
.card-icon{
  padding: 2px 5px;
  color: $cm-black;
  background-color: darken($cm-gray, 10%);

  @include border-radius(50%);
}

// add .card-state and .card-state-*(theme)
.card-state{
  padding: 8px 10px;
  margin: -5px -10px;
  color: $cm-black;
  background-color: darken($cm-gray, 10%);

  @include border-radius(50%);

  &.card-state-hover {
    color: $cm-white;
    background-color: $cm-primary;

    @include border-radius(3px);

    &:hover {
      cursor: pointer;
      background-color: darken($cm-primary, 10%);
    }
  }

  &.card-state-success{
    color: $cm-white;
    background-color: darken($cm-success, 10%);
  }

  &.card-state-danger{
    color: $cm-white;
    background-color: darken($cm-danger, 10%);
  }
}

// add .card-sm / .card-md / .card-lg
.card-sm {
  margin: 0 auto;
  width: $cm-modal-sm-width;
}
.card-md {
  margin: 0 auto;
  width: $cm-modal-md-width;
}
.card-lg {
  margin: 0 auto;
  width: $cm-modal-lg-width;
}

