
// add label component scss

// add .label-vertical
.label-vertical {
  vertical-align: middle;
}

.label-hover {
  &:hover {
    cursor: pointer;
  }
}

.label {
  font-weight: normal;
}

// reset .label-group
.label-group {
  .label {
    margin-right: $cm-space-width;
  }
}
