
// custom layout scss.

.layout{

  @include clearfix();

  .layout-left,
  .layout-center{
    float: left;

    @include clearfix();
  }

  .layout-center{
    padding: $cm-space-width;
  }

  .layout-right{
    float: right;

    @include clearfix();
  }

}
