
// custom layout scss.

// reset body scss.

html,
body{
  width: 100%;
  height: 100%;

  @include gradient-horizontal-three-colors($cm-gray, $cm-white, 50%, $cm-gray);
}

.layout{

  @include clearfix();

  .layout-left,
  .layout-center{
    float: left;

    @include clearfix();
  }

  .layout-center{
    padding: $cm-space-width;
  }

  .layout-right{
    float: right;

    @include clearfix();
  }

}
