
// custom layout scss.

// reset body scss.

html,
body,
.layout{
  width: 100%;
  height: 100%;
  overflow: hidden;
  //
  //@include gradient-horizontal-three-colors($cm-gray, $cm-white, 50%, $cm-gray);

  background-color: $cm-gray;
}

.layout{

  @include clearfix();

  .layout-left,
  .layout-center{
    float: left;
  }

  .layout-left{
    width: $cm-sidebar-max-width;
  }

  .layout-center{
    margin: 0 auto;
    padding: $cm-space-width;
    overflow:auto;
    width: $cm-normal-width - $cm-sidebar-max-width;
    max-height: $cm-sm-width;
  }

  .layout-right{
    float: right;
  }

}
