
// custom list scss.

.list{
  display: block;
  float: left;

  @include list-unstyled();
  @include clearfix();

  // .list-sm show 4 items
  &.list-sm{
    width: $cm-sm-width;

    .list-item{
      margin: $cm-space-width / 2;
      width: ($cm-sm-width - 4 * $cm-space-width) / 4;
    }
  }

  // .list-vertical-middle
  &.list-vertical-middle{
    @include vertical-middle(absolute);

    height: 50%;
  }

  .list-item{
    display: inline-block;

    @include border-variant(all, 1px solid $cm-default);
    @include border-radius(3px);

    &:hover{
      @include box-shadow(
        0 0 1px 1px darken($cm-default, 5%)
      );
    }
  }

}
