
// import bootstrap scss mixins

@import "../bootstrap-scss/mixins";


// custom mixins

// vertical middle mixins
@mixin vertical-middle($position){
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  margin: auto;
}

// border mixins
@mixin border-variant($direction, $content...){
  @if $direction == 'all' {
    border: $content
  } @else {
    border-#{$direction}: $content
  }
}

// text shadow mixins
@mixin text-shadow-variant($content...){
  @if $enable-text-shadows {
    text-shadow: $content;
  }
}

// user select mixins
@mixin user-select(){
  user-select: none;
}

// hr divider mixins
@mixin hr-divider-variant($hr-height: 1px ,$bg-color...){
  &::before{
    position: absolute;
    display:block;
    content: "";
    top: 50%;
    width: 100%;
    height: $hr-height;

    @include gradient-horizontal-three-colors(#fff, $bg-color, 50%, #fff);
    //background-color: $bg-color;
  }
}

// x,y divider mixins
@mixin xy-divider-variant($xy, $divider-color, $divider-width: 1px){
  &::before{
    position: absolute;
    display: block;
    content: "";

    @if $xy == "horizontal" {
      width: 100%;
      height: $divider-width;
      left: -1px;

      // gradient-horizontal-three-colors()
      @include gradient-horizontal-three-colors(#fff, $divider-color, 50%, #fff)
    } @else if $xy == "vertical" {
      top: -1px;
      width: $divider-width;
      height: 100%;
      @include gradient-vertical-three-colors(#fff, $divider-color, 50%, #fff)
    }
  }
}

// input group mixins
@mixin input-group-variant($theme-color){

}

// fixed mixins
@mixin fixed-variant($direct, $offset: 0){
  position: fixed;
  #{$direct}: $offset;
}
