
// custom navbar scss.

.navbar-middle{
  display: block;
  text-align: left;
  background-color: darken($cm-bg, 5%);

  @include clearfix();
  @include user-select();

  > .nav{
    display: inline-block;
    vertical-align: text-top;
  }
}

.navbar-sidebar{
  display: table;
  vertical-align: middle;
  background-color: darken($cm-bg, 5%);

  @include user-select();

  > .nav{
    display: table-cell;
  }
}

// nav fixed top bottom left right scss.
.nav-fixed-top{
  @include nav-fixed-variant(top);
}

.nav-fixed-bottom{
  @include nav-fixed-variant(bpttom);
}

.nav-fixed-left{
  @include nav-fixed-variant(left);
}

.nav-fixed-right{
  @include nav-fixed-variant(right);
}
