
// custom navbar scss.

.navbar-middle{
  display: block;
  text-align: left;
  background-color: darken($cm-bg, 5%);

  @include clearfix();
  @include user-select();

  > .nav{
    display: inline-block;
    vertical-align: text-top;
  }
}

.navbar-sidebar{
  //display: table;
  vertical-align: middle;
  background-color: darken($cm-bg, 5%);
  overflow-x: hidden;
  overflow-y: scroll;
  height: $cm-sm;

  @include user-select();

  > .nav{
    //display: table-cell;
  }
}

.navbar-footer{
  width: 100%;
  text-align: center;
  height: $cm-footer;
  line-height: $cm-footer;
  color: $cm-default;
  background-color: $cm-black;

  @include text-shadow-variant(0 1px 1px lighten($cm-black, 30%));
}

// nav fixed top bottom left right scss.
.fixed-top{
  @include nav-fixed-variant(top);
}

.fixed-bottom{
  @include nav-fixed-variant(bottom);
}

.fixed-left{
  @include nav-fixed-variant(left);
}

.fixed-right{
  @include nav-fixed-variant(right);
}
