
// custom nav scss.

// reset .nav-item > .nav
.nav{
  .nav{
    margin-left: $cm-space-width * 2;

    @include box-shadow($cm-space-width * 2 0 $cm-space-width * 2 $cm-gray inset);

    .nav-item + .nav-item{
      @include border-variant(top, 1px dotted $cm-gray);
    }
  }
}

// reset bootstrap .nav-inline
.nav-inline{

  .nav-item{
    margin: 0 1px;

    + .nav-item{
      margin-left: 0;
    }
  }
}

// reset bootstrap .nav-stacked
.nav-stacked{

  .nav-item{
    margin-bottom:1px;
    margin-right: 0;

    + .nav-item{
      margin-top: 0;

      @include border-variant(top, 1px dotted $cm-gray);
    }
  }
}

// add .nav-auto
.nav-auto-4{
  padding: $cm-space-width 0 0 $cm-space-width;

  .nav-item{
    margin: 0;
    width: 25%;

    .card{
      margin-right: $cm-space-width;
    }

    + .nav-item{
      margin-left: 0;
    }
  }
}

// nav-header scss.
.nav-header{
  float: left;
  padding: $cm-space-width / 2 $cm-space-width;

  @include clearfix();

  > .header-logo{
    height: 60px;
  }

  > .header-title{
    font-size: 2.0em;
    vertical-align: middle;

    @include text-shadow-variant(0 1px 1px $cm-success);
  }
}

// nav-header scss.
.nav-footer{
  float: right;
  position: relative;
  width: $cm-footer-wrap-width;

  @include clearfix();

  &:hover{
    cursor: pointer;
  }

  .nav-footer-wrap{
    position: absolute;
    right: 0;
    width: $cm-footer-wrap-width;
    margin-top: $cm-space-width;
    padding: $cm-space-width;
    background-color: $cm-white;
    z-index: $cm-zindex-navbar;

    //@include border-variant(all, 1px solid $cm-gray);
    @include border-radius(3px);
    @include box-shadow(0 1px 1px 1px $cm-gray);

    &::before{
      position: absolute;
      content: "";
      top: -$cm-space-width * 2;
      left: $cm-space-width * 2;
      width: 0;
      height: 0;
      border: 10px solid transparent;
      border-bottom-color: $cm-white;
    }
  }
}

// new divider
.nav-vertical-divider{
  position: relative;

  > .nav-item:not(:first-child){
    @include xy-divider-variant(vertical, $cm-maroon);
  }
}

.nav-horizontal-divider{
  position: relative;

  > .nav-item:not(:first-child){
    @include xy-divider-variant(horizontal, $cm-purple);
  }
}
