
// custom navbar scss.

.navbar-middle{
  display: block;
  text-align: left;
  background-color: $cm-white;
  height: $cm-header-width;

  @include box-shadow(0 0 2px 2px $cm-gray);
  @include clearfix();
  @include user-select();

  > .nav{
    display: inline-block;
    vertical-align: text-top;
  }
}

.navbar-sidebar{
  width: $cm-sidebar-max-width;
}

.navbar-sidebar-min{
  width: $cm-sidebar-min-width;
}

.navbar-sidebar,
.navbar-sidebar-min{
  //display: table;
  vertical-align: middle;
  background-color: $cm-white;
  overflow: hidden;
  height: 100%;

  @include box-shadow(0 3px 2px 2px $cm-gray);
  @include clearfix();
  @include user-select();

  > .nav{

    @include border-variant(top, 1px dotted $cm-gray);
  }
}

.navbar-footer{
  width: 100%;
  font-size: .8em;
  padding-right: $cm-space-width;
  text-align: right;
  height: $cm-footer-width;
  line-height: $cm-footer-width;
  color: $cm-black;
  //background-color: $cm-white;

  @include text-shadow-static();
}
