
// custom nav scss.

// reset bootstrap .nav-inline
.nav-inline{

  .nav-item{
    margin: 0 1px;

    + .nav-item{
      margin-left: 0;
    }
  }
}

// reset bootstrap .nav-stacked
.nav-stacked{

  .nav-item{
    margin-bottom:1px;
    margin-right: 0;

    + .nav-item{
      margin-top: 0;
    }
  }
}

// nav-header scss.
.nav-header{
  float: left;
  padding: $cm-space-width / 2 $cm-space-width;

  @include clearfix();

  > .header-logo{
    height: 60px;
  }

  > .header-title{
    font-size: 2.0em;
    vertical-align: middle;

    @include text-shadow-variant(0 1px 1px $cm-success);
  }
}

// nav-header scss.
.nav-footer{
  float: right;

  @include clearfix();
}

// new divider
.nav-vertical-divider{
  position: relative;

  .nav-item:not(:first-child){
    @include xy-divider-variant(vertical, $cm-maroon);
  }
}

.nav-horizontal-divider{
  position: relative;

  .nav-item:not(:first-child){
    @include xy-divider-variant(horizontal, $cm-purple);
  }
}
