
// custom navbar scss.

.navbar-middle{
  display: block;
  text-align: left;
  background-color: $cm-white;

  @include box-shadow(0 0 2px 2px $cm-gray);
  @include clearfix();
  @include user-select();

  > .nav{
    line-height: 1.7;
    display: inline-block;
    vertical-align: text-top;
  }
}

.navbar-sidebar{
  //display: table;
  vertical-align: middle;
  background-color: $cm-white;
  overflow: hidden;
  height: $cm-sm;

  @include box-shadow(0 3px 2px 2px $cm-gray);
  @include clearfix();
  @include user-select();

  > .nav{
    //display: table-cell;
  }
}

.navbar-footer{
  width: 100%;
  text-align: center;
  height: $cm-footer;
  line-height: $cm-footer;
  color: $cm-black;
  background-color: $cm-white;

  @include text-shadow-variant(0 1px 1px lighten($cm-black, 30%));
}

// nav fixed top bottom left right scss.
.fixed-top{
  @include nav-fixed-variant(top);
}

.fixed-bottom{
  @include nav-fixed-variant(bottom);
}

.fixed-left{
  @include nav-fixed-variant(left);
}

.fixed-right{
  @include nav-fixed-variant(right);
}
