
// custom pagination component scss.

// add .clearfix class
.pagination {
  @include clearfix();

  &.pagination-no-padding {
    vertical-align: middle;   // fix vertical-align
    margin-top: 0;
    margin-bottom: 0;
  }
}

// add pointer inner .page-link
.page-link {
  @include hover-focus-active{
    cursor: pointer;
  }
}

// add .pagination-circle
.pagination-circle {
  .page-item {
    .page-link {
      display: inline-block;
      text-align: center;
      margin-left: $cm-space-width / 2;
      padding: 2px;
      font-size: .8em;

      @include size(25px);
      @include border-radius(50%);
    }
  }
}

