
// custom table scss.

// reset .table component scss.
.table {
  font-size: $font-size-sm;
  margin-bottom: 0;

  & + .table {
    margin-top: $cm-space-width;
  }
}

// add .table-hover-outline scss.
.table-hover-outline {
  tbody {
    > tr {
      border: none !important;
      outline: 1px solid $cm-white;

      &:hover,
      &.active{
        color: $cm-primary;
        outline: 1px solid $cm-primary;
      }
    }
  }
}
