
// import boostrap variables scss

@import "../bootstrap-scss/variables";

// common scss variants
$cm-sm-width: 544px !default;
$cm-header-width: 70px !default;
$cm-footer-width: 50px !default;

$cm-normal-width: 1366px !default;  // 1200px = 50 * 24

$cm-sidebar-max-width: 200px !default;  // 50 * 4
$cm-sidebar-min-width: 70px !default;

$cm-border-width: 1px !default;
$cm-box-radius: 3px !default;

$cm-space-width: 30px / 3 !default; // 10 px

$cm-bg: $body-bg !default;
$cm-default: $gray-lightest !default;

$cm-primary:             #0275d8 !default;
$cm-success:             #5cb85c !default;
$cm-info:                #5bc0de !default;
$cm-warning:             #f0ad4e !default;
$cm-danger:              #d9534f !default;

$cm-white:               #fcfcfc !default;
$cm-black:               #222 !default;
$cm-gray:                #eee !default;
$cm-twitter:             #3c8dbc !default;
$cm-maroon:              #d81b60 !default;
$cm-purple:              #605ca8 !default;


// login scss variants

$login-border-width: 1px !default;
$login-shadow-width: 3px !default;
$login-box-radius: 3px !default;

$login-gutter-width: $grid-gutter-width / 3 !default;   // 10 px
$login-space-width: $login-gutter-width * 2 !default; // 10 * 2 px

$login-bg: $body-bg !default;

// themes colors
$login-default: $gray-lightest !default;
$login-primary: $brand-primary !default;
$login-success: $brand-success !default;
$login-info: $brand-info !default;
$login-warning: $brand-warning !default;
$login-danger: $brand-danger !default;


// box scss variants
$box-border-width: 1px !default;

